.Function,
.classBox {
  text-align: center;
  margin: 3rem;
  background-color: blueviolet;
  height: 45vh;
  width: 40vw;
}
.classBox {
  background-color: chocolate;
}
.btn {
  display: flex;
  justify-content: space-between;
}
button {
  background-color: salmon;
  color: white;
  font-size: 1.3rem;
  border-radius: 10rem;
  height: 10vh;
  padding: 1rem 5rem;
  margin-left: 4rem;
}
button:hover {
  cursor: pointer;
  background-color: orange;
}
